.blog-input {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:40px;
}
.formsub{
    margin-top:10px;
    margin-bottom:10px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:15px;
}
header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:80px;
    align-content: flex-end;
}
header h1::after{
    content:🪻; 
}